---
//Utilizar variable en <h1> principal.
    let scones = 'Scones: the most resplendent of snacks';
---

<header class="Header">
    <a href="/" class="LogoWrapper"
      ><img src="../src/images/SOC-Logo.png" alt="Scone O'Clock logo" />
    </a>
    <h1 class="Strap">{scones}</h1>
  </header>